<%= render 'welcome/menu' %>

<div class="left">
<br>
   <%= form_for @team, :html => {:multipart => true} do |f| %>
    <p>
    
    <%= @team.name %>
    <br>

    <% if @team.logo_file_name == nil %>
    
    <% else %>
    <strong>Current Logo</strong><br>
    <%= image_tag @team.logo.url(:large) %>
  
  		  
	<br>
	<%= link_to 'Remove Logo', remove_team_logo_path %>
  	<%end%> 
  	<br>
  	<%= f.label :choose_photo %><br>
  	<%= f.file_field :logo %>
 
    <br>
  
    <%= f.submit %>
    
    </p>

    <% end %>

  	<br>
    <%= link_to "Back To Team List", logos_teams_path %>

</div>

