

<%= render 'welcome/menu' %>

<table class="table1">

  <thead>
    <tr>
      <th><h2>Teams</h2></th>
      <th></th>
	  <th>Name</th>
      <th>Division</th>
	  <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
      <td></td>
	  <% if team.logo_file_name == nil %>
	  <td></td>
	  <% else %>
	  <td><%= image_tag team.logo.url(:medium) %></td>
      <%end%>
	  <td><%= link_to team.name, team %></td>
      <td><%= team.division %></td>
		
	
	  <td><%= link_to "Edit", edit_team_path(team) %> </td>  
     
	  </tr>
    <% end %>
  </tbody>
</table>
