

<header>
<h1>NFL Draft</h1>

<h2>THE HISTORY OF THE GRIDIRON STARTS HERE</h2>

</header>

<nav>
<ul>
	<li class="start"><%= link_to 'Home', welcome_index_path %></li>
	<li><%= link_to 'Teams', teams_path %> </li>
	<li><%= link_to 'Players', players_path %></li>
	<li><%= link_to 'Draft', ownerships_path %></li>
    <li><%= link_to 'Administration', welcome_admin_path %></li>
    <li><%= link_to 'Contact', welcome_contact_path %></li>
  <li class="end">

</li>
</ul>
</nav>





