
<nav class="mininav">
<ul>
	<li class="start"><li><%= link_to 'Draft Home', ownerships_path %></li></li>
	<li><%= link_to 'Last 3 Picks', last_three_ownerships_path %> </li>
	<li><%= link_to 'Full Results', results_ownerships_path %></li>
	<li><%= link_to 'Round 1', round_ownerships_path(round: 1) %></li>
	<li><%= link_to 'Round 2', round_ownerships_path(round: 2) %></li>
	<li><%= link_to 'Round 3', round_ownerships_path(round: 3) %></li>
	<li><%= link_to 'Round 4', round_ownerships_path(round: 4) %></li>
	<li><%= link_to 'Round 5', round_ownerships_path(round: 5) %></li>
	<li><%= link_to 'Round 6', round_ownerships_path(round: 6) %></li>
	<li><%= link_to 'Round 7', round_ownerships_path(round: 7) %></li>
	
	
  <li class="end">

</li>
</ul>
</nav>





