
<nav>
<ul>
	<li class="start"><li><%= link_to 'Draft Home', ownerships_path %></li></li>
	<li><%= link_to 'Last 3 Picks', last_three_ownerships_path %> </li>
	<li><%= link_to 'Full Results', results_ownerships_path %></li>
	<li><%= link_to 'Round 1', round1_ownerships_path %></li>
	<li><%= link_to 'Round 2', round2_ownerships_path %></li>
	<li><%= link_to 'Round 3', round3_ownerships_path %></li>
	<li><%= link_to 'Round 4', round4_ownerships_path %></li>
	<li><%= link_to 'Round 5', round5_ownerships_path %></li>
	<li><%= link_to 'Round 6', round6_ownerships_path %></li>
	<li><%= link_to 'Round 7', round7_ownerships_path %></li>
	
	
  <li class="end">

</li>
</ul>
</nav>





