
<nav class="mininav">
<ul>
	<li><%= link_to 'QB', position_players_path(position: 'QB') %></li>
	<li><%= link_to 'C', position_players_path(position: 'C') %></li>
	<li><%= link_to 'CB', position_players_path(position: 'CB') %></li>
	<li><%= link_to 'DE', position_players_path(position: 'DE') %></li>
	<li><%= link_to 'DT', position_players_path(position: 'DT') %></li>
	<li><%= link_to 'FB', position_players_path(position: 'FB') %></li>
	<li><%= link_to 'FS', position_players_path(position: 'FS') %></li>
	<li><%= link_to 'ILB', position_players_path(position: 'ILB') %></li>
	<li><%= link_to 'K', position_players_path(position: 'K') %></li>
	<li><%= link_to 'LS', position_players_path(position: 'LS') %></li>
	<li><%= link_to 'OG', position_players_path(position: 'OG') %></li>
	<li><%= link_to 'OLB', position_players_path(position: 'OLB') %></li>
    <li><%= link_to 'OT', position_players_path(position: 'OT') %></li>
	<li><%= link_to 'P', position_players_path(position: 'P') %></li>
	<li><%= link_to 'RB', position_players_path(position: 'RB') %></li>
	<li><%= link_to 'SS', position_players_path(position: 'SS') %></li>
	<li><%= link_to 'TE', position_players_path(position: 'TE') %></li>
	<li><%= link_to 'WR', position_players_path(position: 'WR') %></li>
</ul>
</nav>





