<%= render 'welcome/menu' %>

<div class="left">

<%= form_for @player do |f| %>
  <p>
    <%= f.label 'First Name' %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label 'Last Name' %><br>
    <%= f.text_field :surname %>
  </p>
  
  <p>
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back to Players List', admin_index_players_path %>

</div>