<%= render 'welcome/menu' %>
<%= render 'player_menu' %>


<table class="table1">
  <thead>
    <tr>
    <th><h2>All Players</h2></th>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th></th>
	</tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
       <tr>
       <td></td>
        <td><%= link_to player.name, player %></td>
		<td><%= player.position %></td>
        <td><%= player.try(:team).try(:name) %> </td> 
  	    
		<% if player.try(:team).try(:logo_file_name) == nil %>
  	  <td></td>
  	  <% else %>
		<td><%= image_tag player.try(:team).try(:logo).try(:url, :medium) %> </td>
      <% end %>
	  </tr>
    <% end %>
  </tbody>
</table>
