<%= render 'welcome/menu' %>
<%= render 'player_menu' %>


<table class="table1">
  <thead>
    <tr>
    <th><h2>All Players</h2></th>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
       <tr>
       <td></td>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><%= player.team %></td>
		
      </tr>
    <% end %>
  </tbody>
</table>
