<%= render 'welcome/menu' %>
<%= render 'player_menu' %>
<%= render 'player_positions' %>



<table class="table1">
  <thead>
    <tr>
    <th></th>
      <th>Name</th>
      <th>Team</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
       <tr>
       
	  
        <td><td><%= player.name %> <%= player.surname %></td></td>
	        <td><%= player.try(:team).try(:name) %> </td> 
  	    
			<% if player.try(:team).try(:logo_file_name) == nil %>
	  	  <td></td>
	  	  <% else %>
			<td><%= image_tag player.try(:team).try(:logo).try(:url, :medium) %> </td>
	      <% end %>
		  </tr>
	  
        
		
      </tr>
    <% end %>
  </tbody>
</table>
