

<%= render 'welcome/menu' %>

<body>
<table class="table1">
<tr><td>
<br>

<%= @player.name %> was selected by the 
	  
<%= @player.team.name %>'s <%= image_tag @player.team.logo.url(:large) %>

<br><br>
	He was pick number 
<%= @player.ownership.pick %>
in round 
<%= @player.ownership.round %>

</table>
</body>